@import '../../../styles.scss';

.container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to left, rgb(14, 13, 13), rgb(31, 30, 30),rgb(14, 13, 13));
    @include dFlex($js: center, $ai: center, $g: 0);

    >.content {
        @include dFlex($js: center, $ai: flex-start, $g: 40px);
        margin-left: 100px;
        >.my_work {
            @include vertical();
            font-size: 54px;
            font-weight: 400;
            -webkit-text-stroke: 1px #B5E93B;
            margin-bottom: 200px;
        }
    }
}

.render {
    @include dFlex($js: center, $ai: center, $g: 40px);
}