<div class="container fontQuantico">
    <div class="contant">
        <span class="contactme">Contact Me</span>
        <div class="fomular">
            <form>
                <!-- <label for="">Name</label> -->
                <input type="text" id="name" placeholder="Your name...">

                <!-- <label for="">Last</label> -->
                <input type="email" id="email" placeholder="Your mail...">

                <!-- <label for="">Subject</label> -->
                <input type="message" id="message" placeholder="Write somethingt">
            </form>
        </div>
    </div>
</div>
