<!-- <footer id="contact" class="container_footer" [ngClass]="{ 'imprint-footer': isImprintPage }">

  <div *ngIf="!isImprintPage">
    <p>Allgemeiner Footer-Inhalt für andere Seiten</p>
    <p>Kontaktinformationen: info@example.com</p>
  </div>


  <div *ngIf="isImprintPage">
    <p>Impressum: Informationen zu unserem Unternehmen.</p>
    <p>Rechtsform: Beispiel GmbH</p>
    <p>Sitz der Gesellschaft: Beispielstraße 1, 12345 Beispielstadt</p>
    <p>Kontakt: info@example.com</p>
  </div>
</footer> -->



