<footer id="contact" class="container_footer" [ngClass]="{ 'imprint-footer': isImprintPage || isPolicyPage }">
  <!-- Allgemeiner Footer-Inhalt -->
  <!-- <div *ngIf="!isImprintPage">
    <p>Allgemeiner Footer-Inhalt für andere Seiten</p>
    <p>Kontaktinformationen: info&#64;example.com</p>
  </div> -->

  <!-- Inhalt speziell für die Impressum-Seite -->
  <div class="footer_imprint" *ngIf="isImprintPage || isPolicyPage ">
   <img src="./assets/img/Eduard_Kammerzel_Logo.png" alt="">
   <span class="text">Eduard Kammerzel 2024</span>
  </div>
</footer>






